@font-face {
    font-family: "VT323";
    src: url("assets/fonts/VT323.woff2") format("woff2");
    font-display: swap;
}

* {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    background: #000000;
    color: #b8bbbf;
}

body {
    min-height: 95vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

h3 {
    display: inline-block;
    font-size: inherit;
    padding: 0 0.5em;
    margin-bottom: 0;
    background-color: #b8bbbf;
    color: #000000;
}

.option:hover {
    display: inline-block;
    font-size: inherit;
    padding: 0 0.5em;
    margin-bottom: 0;
    background-color: #b8bbbf;
}

.repl {
  display: inline-block;
  vertical-align: middle;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: square;
}

.text-background {
    color: #4434d1;
}

.text-secondary {
    color: #b8bbbf;
}

.cv:hover {
    color: #e88605;
}

.linkedin:hover {
    color: #034efc;
}

.github:hover {
    color: #04820a;
}

.cursor {
    color: #b8bbbf;
}

.command {
    color: #04820a;
}

.flag {
    color: #029ebd;
}

.path {
    color: #5b06d1;
    text-decoration: underline;
}

.ruby {
    color: #6b0303;
}

.python {
    color: #03396b;
}

.go {
    color: #05879c;
}

.typing {
    width: 17ch;
    overflow: hidden;
    white-space: nowrap;
    border-right: 10px solid #b8bbbf;
    animation:
        typing 2s steps(17, end),
        blink .5s step-end infinite;
    animation-play-state: paused;
}

.output {
    width: 100%;
    max-width: 80ch;
    animation: fade 4s;
    animation-play-state: paused;
}

/* animation */

@keyframes fade {
0% { opacity: 0}
50% { opacity: 0; }
100% { opacity: 1; }
}

@keyframes typing {
0% { width: 0; }
100% { width: 17ch; }
}

@keyframes blink {
50% { border-color: transparent; }
}

@media (min-width:600px) {
    body {
        font-size: 1.75rem;
    }
}
